#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 30, 60],
    symbols: (song: "󰎈 ",dir: "󰉋 ",marker: " ",ellipsis: "..."),
    text_color: "#abb2bf",
    tab_bar: (
        enabled: true,
        active_style: (bg:"#14171c" ,fg: "#d19a66", modifiers: "Bold"),
        inactive_style: (fg: "#5c6370", modifiers: ""),
    ),
    highlighted_item_style: (fg: "#81ae5f", modifiers: "Bold"),
    current_item_style: (fg: "#4889be", bg: "#14171c", modifiers: "Bold"),
    borders_style: (fg: "#5c6370", modifiers: "Bold"),
    highlight_border_style: (fg: "#d19a66"),
    progress_bar: (
        symbols: ["┄", "┅", "━"],
        track_style: (fg: "#181b21"),
        elapsed_style: (fg: "#d19a66"),
        thumb_style: (fg: "#4889be"),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (fg: "#5c6370"),
        ends_style: (fg: "#5c6370"),
        thumb_style: (fg: "#d19a66"),
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
            (kind: Property(Title)),
            (kind: Text(" - ")),
            (kind: Property(Artist)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    song_table_format: [
        (
            prop: (kind: Property(Title), style: (fg: "#49919a"),
                highlighted_item_style: (fg: "#14171c", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "#5c6370"),)
            ),
            width: "50%",
        ),
        (
            prop: (kind: Property(Artist), style: (fg: "#be5046"),
                default: (kind: Text("Unknown Artist"), style: (fg: "#5c6370"))
            ),
            width: "45%",
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#d19a66")),
            width: "10%",
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(StateV2(playing_label: " 🔊", paused_label: " ❚❚", stopped_label: " ⏹️"))), style: (fg: "#49919a", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#abb2bf",modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (fg: "#abb2bf",modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "#d19a66", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#d19a66", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "#d19a66", modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)),style: (fg: "#abb2bf")),
                    (kind: Text("/"),style: (fg: "#5c6370")),
                    (kind: Property(Status(Duration)),style: (fg: "#abb2bf")),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#be5046", modifiers: "Bold"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "#7560d3", modifiers: "Bold"))
                    ),
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#7560d3", modifiers: "Bold"),
                            separator_style: (fg: "#5c6370")))
                        ),
                        style: (fg: "#5c6370")
                    ),
                ]
            ),
        ],
    ),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                    (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                (
                                        size: "4",
                                        borders: "ALL",
                                        pane: Pane(Header),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                pane: Pane(Tabs),
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "NONE",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                borders: "TOP | BOTTOM",
                pane: Pane(ProgressBar),
            ),
        ],
    ),
)
